* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}
/*FONT FAMILIES
  font-family: 'Montserrat';
  font-family: 'Playfair Display';
	font-family: 'Roboto', sans serif;
*/

body{
	font-family: 'Montserrat';
	background-color: #ffefdf;
}

/************* STICKY FOOTER **********************/
.container{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.wrapper{
	flex: 1;
}
/************** STICKY FOOTER *********************/

/*************Hamburger Menu BEGINS***************
*/
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#a7582d;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
	z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#a7582d;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#fff7f0;  position:absolute; text-align:center; font-size:12px; font-family: 'Montserrat';}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#fffaf5; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}

/*************Hamburger Menu ENDS***************
*/
/*************Index page BEGINS***************
*/
.desktop_menu{
	display: none;
}
h2{
  font-family: 'Playfair Display';
	line-height: 6.5rem;
}
.name{
	padding-top: 67vh;
	padding-left: 4vw;
}
.first_name{
	color: #2d294b;
	font-size: 4rem;
	line-height: 3vh;
}
.last_name{
	font-size: 4.8rem;
	color: #1f1b3f;
	font-style: italic;
}

.footer_line_top{
	padding-top: 4px;
	background-color: #a7582d;
	width: 100%;
	position: fixed;
	bottom: 5vh;
}

/*************** About page BEGINS*******************
*/
.desktop_about_menu{
	display: none;
}
.img_about{
	width:100%;
}
.desktop_about_img{
	display: none;
}
.desktop_quote_padding{
	display: none;
}
.mobile_horizontal_line{
	display: block;
	height: 2px;
	background-color: #a7582d;
	width: 100%;
	margin-top: 50px;
}
.mobile_vertical_line{
	border-left: 2px solid #a7582d;
  height: 110%;
  position: absolute;
	left: 4.5%;
  margin-left: -3px;
  top: 0;
}
figure{
	padding-top: 10px;
	padding-left: 20%;
}
figcaption{
	font-family: 'Roboto', sans serif;
	font-size: .5rem;
	text-align: right;
	color: #c4bbb1;
}
.about_horizontal_line{
	display: none;
}
.mobile_quote_padding{
	position: absolute;
	top: 200px;
	left: 7%;
	max-width: 48%;
}
article{
	 color: #1f1b3f;
}
.about_padding{
	padding-top: 20px;
	padding-left: 9%;
	padding-right: 9%;
}
.about_p{
	font-size: .85rem;
	line-height: 120%;
}

/* ----------------about page Bottom styling---------------
*/
.about_bottom{
  position: relative;
  justify-content: center;
  align-items: center;
	margin: 0 auto;
  width: 100%;
	padding: 5% 0 6% 0;

}
.button_center{
	text-align: center;
	padding: 3% 0;
}
.resumebutton{
  display: inline-block;
  position: relative;
  font-size:1.1rem;
	align-items: center;
	text-align: center;
	margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Playfair Display', sans-serif;
  border-width: .07em;
  border-style: solid;
  padding: .6em 5em;
  border-radius: 1.7px;
}

.button-accent{
    color:#a7582d;
}

.button-accent:hover,
.button-accent:focus{
  background:#a7582d;
  color: #ffe7cf;
}

.oremail{
  position: relative;
	max-width: 100%;
	text-align: center;
  top: auto;
  font-family: 'Playfair Display', sans-serif;
  letter-spacing: .15em;
  font-size: 14px;
  color: #1f1b3f;
	padding-top: 10px;
}

/* ------------------projects page styling for the accordion----------------------*/
#panels{
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-bottom: 30px;
}

.ui-accordion-header{
  color: #1f1b3f;
  font-family: Playfair Display;
  font-weight:400;
  line-height: 8.3vh;
  font-size: 1.8rem;
  padding-top: 3rem;
  padding-left: 1em;
  z-index: 99;
}

.ui-accordion-header:focus {
  outline: 0;
  box-shadow: none;
}

.ui-accordion-header:hover {
  outline:0;
  box-shadow: none;
  font-style: italic;
}

.project_header p{
	font-size: 1rem;
	color: #a7582d;
	padding-left: 5px;
}

.project_content{
	background-color: #f2dcc7;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: .8rem;
	padding: 10px 10px 5px 26px;
}

.project_content p{
	line-height: 1rem;
}

.project_content img{
  max-width: 200px;
	justify-content: center;
}

.project_content figure{
 	padding-left: 10px;
	padding-bottom: 10px;
	align-items: center;
}

.work_footer{
	display: none;
}

/*********** contact page BEGINS ********************/
.contact_main_container{
	font-family: "Playfair display";
	display: flex;
	flex-direction: column;
	flex-grow: 1;
/*
	top: 125px;
*/
}

.hello_contact{
	padding-left: 15px;
	height: 50vh;
	display: flex;
	align-items: flex-end;
}

.hello_contact h1{
	color: #1f1b3f;
	opacity: .7;
	font-size: 2.5rem;
	line-height: 2rem;
}

.send_contact{
	padding-right: 15px;
	text-align: right;
	height: 30vh;
}

.send_contact h2{
	color: #1f1b3f;
	line-height: 1.3rem;
	font-size: 1.6rem;
}
.footer_contact{
	font-family: "Playfair Display";
	font-size: .8rem;
	color: #a7582d;
	position: absolute;
	bottom: 0;
	height: 10vh;
	width: 100%;
	font-weight:bold;
	display: flex;
	flex-direction: row;
}
.footer_contact a{
	color: #a7582d;
	text-decoration: none;
}
.email_contact{
		padding-left: 15px;
}

.socialmedia_contact{
	display: flex;
	flex-grow: 1;
	align-items: baseline;
	justify-content: flex-end;
	padding-right: 15px;
}
.dot {
  height: .3em;
  width: .3em;
  background-color: #a7582d;
  border-radius: 50%;
  display: inline-block;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.email_contact a:hover,
.email_contact a:focus{
  font-style: italic;
}
.socialmedia_contact a:hover,
.socialmedia_contact a:focus{
  font-style: italic;
}

/************ contact page ENDS ********************/


/*-------------- MEDIA ------------------*/


@media (min-width: 370px) {
	.name{
		padding-top: 65vh;
	}
	.first_name{
		font-size: 5rem;
		line-height: 4vh;
	}
	.last_name{
		font-size: 5.4rem;
	}
	.mobile_quote_padding{
		top: 225px;
	}
	.about_padding{
    padding-top: 15px;
	}
}
@media (min-width: 390px) {
	.mobile_quote_padding{
		top: 230px;
	}
	.about_padding{
		padding-top: 10px;
	}
}
@media (min-width: 450px) {
	.name{
		padding-top: 63vh;
	}
	.first_name{
		font-size: 5rem;
		line-height: 6vh;
	}
	.last_name{
		font-size: 6rem;
	}
	.mobile_quote_padding{
		top: 250px;
	}
	.about_padding{
		padding-top: 20px;
	}
}
@media (min-width: 477px) and (max-width:530px) {
	.mobile_quote_padding{
		top: 255px;
	}
	.about_padding{
		padding-top: 20px;
	}
	.mobile_vertical_line {
		height: 110%;
	}
}
@media (min-width: 500px) {
	.first_name{
		font-size: 5rem;
	}
	.last_name{
		font-size: 6rem;
	}
	.mobile_vertical_line {
		height: 115%;
	}
	.mobile_quote_padding{
		top: 280px;
	}
	.about_padding{
		padding-top: 40px;
	}
	.project_content figure {
    display: flex;
    align-items: center;
    flex-direction: row;
	}
	.project_lightbox img{
		margin-left: 15px;
	}
}
@media (min-width: 530px) {
	.mobile_quote_padding{
		top: 300px;
	}
	.about_padding{
		padding-top: 50px;
	}
	.about_bottom{
		padding-top: 3%;
	}
	.mobile_vertical_line {
		height: 120%;
	}
}

@media (min-width: 600px) {
	.name{
		padding-top: 60vh;
	}
	.first_name{
		font-size: 6.5rem;
    line-height: 9vh;
	}
	.last_name{
		font-size: 7.5rem;
	}
	.mobile_vertical_line {
		height: 125%;
	}
	.mobile_quote_padding{
		top: 310px;
	}
	.about_padding{
		padding-top: 30px;
	}
}
@media (min-width:620px) {
	.mobile_quote_padding{
		top: 330px;
	}
	.about_padding{
		padding-top: 40px;
	}
}
@media (min-width:720px) {
	.first_name{
		font-size: 7.5rem;
		 line-height: 12vh;
	}
	.last_name{
		font-size: 8.5rem;
	}
	.mobile_vertical_line {
    height: 130%;
	}
	.mobile_quote_padding{
		top: 350px;
	}
	.about_padding{
		padding-top: 40px;
	}
	.ui-accordion-header{
		font-size: 2rem;
	}
}
@media (min-width:780px) {
	.mobile_quote_padding{
		top: 370px;
	}
	.about_padding{
		padding-top: 40px;
	}
	.mobile_vertical_line {
		height: 135%;
	}
}
@media (min-width: 800px) {
	.ui-accordion-header{
	  font-size: 2rem;
	}
	.project_content img{
	  max-width: 350px;
		max-height: 600px;
		justify-content: center;
	}
}

@media (min-width:840px) {
	.mobile_quote_padding{
		top: 410px;
	}
	.about_padding{
		padding-top: 40px;
	}
}
@media (min-width:900px) {
	.menu, .hamburger, .cross{
		display: none;
	}
	.desktop_menu{
		display: flex;
	}
	.desktop_menu{
	justify-content: flex-end;
	font-family: 'Montserrat';
	right: 2em;
	padding: 1em;
	z-index: 90;
}
	.desktop_menu ul{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.desktop_menu ul li{
			display: inline-block;
			position: relative;
			margin: 1em;
	}
	.desktop_menu a{
		font-weight: 400;
		text-decoration: none;
		text-transform: lowercase;
		font-size: 1.25em;
		color: #1f1b3f;
		padding: .5em;
	}
	.desktop_menu a:hover,
	.desktop_menu a:focus{
		color: black;
		font-weight: 400;
	}

	.desktop_menu a::before{
		content: '';
		display: block;
		height: .2em;
		background-color: #a7582d;
		border-radius: 1px;
		transition: all ease-in-out 250ms;
		position: absolute;
		top: 1.2em;
		width: 0%
	}
	.desktop_menu a:hover::before{
		width:100%
	}
/*********************about desktop menu style. needed to be diff color
**/
	.desktop_about_menu{
		display: block;
	}
	.desktop_about_menu{
	position: fixed;
	font-family: 'Montserrat';
	right: 2em;
	padding: 1em;
	z-index: 90;
	}
	.desktop_about_menu ul{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.desktop_about_menu ul li{
			display: inline-block;
			position: relative;
			margin: 1em;
	}
	.desktop_about_menu a{
		font-weight: 400;
		text-decoration: none;
		text-transform: lowercase;
		font-size: 1.25em;
		color: #ffefdf;
		padding: .5em;
	}
	.desktop_about_menu a:hover,
	.desktop_about_menu a:focus{
		color: black;
		font-weight: 400;
	}
	.desktop_about_menu a::before{
		content: '';
		display: block;
		height: .2em;
		background-color: #a7585d;
		border-radius: 1px;
		transition: all ease-in-out 250ms;
		position: absolute;
		top: 1.2em;
		width: 0%
	}
	.desktop_about_menu a:hover::before{
		width:100%
	}
/***************about desktop menu style ENDS
**/
	.name{
		padding-top: 40vh;
	}
	.first_name{
		font-size: 8.5rem;
		 line-height: 17vh;
	}
	.last_name{
		font-size: 9.5rem;
	}
	.mobile_horizontal_line{
		display: none;
	}
	.mobile_vertical_line{
		display: none;
	}
	.mobile_about_img{
		display: none;
	}
	.mobile_quote_padding{
		display: none;
	}
	.desktop_about_img{
		display: block;
	}
	figure{
	 padding: 0 0;
	}
	.about_horizontal_line{
		display: block;
		padding-top: 3px;
		background-color: #a7582d;
		width: 90%;
	}
	h3{
		font-weight: normal;
	}
	.desktop_quote_padding{
		display: block;
		padding-top: 1%;
		padding-left: 9%;
		padding-right: 9%;
	}
	.desktop_quote_style{
		font-family: 'Playfair Display';
		color: #1f1b3f;
		font-size: 1.8rem;
		letter-spacing: .05rem;
		line-height: 1.9rem;
	}
	.about_padding{
		padding-top: 25px;
	}
	.button_center{
		float: left;
		padding-left: 20%;
	}
	.oremail{
		float:left;
		padding-left: 5%;
		padding-top: 35px;
		text-align: center;
	}
	/*********** work styling at min-width 900px ****************/
	.ui-accordion-header{
		font-size: 2.6rem;
		padding-top: 0rem;
		padding-bottom: 5rem;
		line-height: 4rem;
	}
	.project_content{
		display: flex;
    flex-direction: row;
    justify-content: center;
		position: relative;
		top: -70px;
	}
	.project_content img{
		max-height: 300px;
	}
	.project_header p {
    font-size: 1rem;
    color: #a7582d;
    margin-top: .8rem;
    line-height: 1.5rem;
	}
}
@media (min-width:1100px) {
	.name{
			padding-top: 35vh;
	}
	.first_name{
		font-size: 9.5rem;
		 line-height: 19vh;
	}
	.last_name{
		font-size: 10.5rem;
	}
}
